body {
  grid-template-rows: auto 1fr auto;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  display: grid;
  justify-items: center;
}

header {
  min-height: 50px;
}

footer {
  min-height: 20px;
  align-items: center;
}

header, footer {
  text-align: center;
}

header, footer, main {
  background-color: #161616;
  max-width: 50%;
  width: 100%;
  padding: 20px;
}

div {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #181818;
  width: 95%;
  margin: auto;
}

div:hover {
  background-color: #1b1b1b;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 13px;
}

img {
  width: 75px;
}

.socials {
  text-align: left;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
}

@media (max-width: 768px) {
  header, footer, main {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
  }
  
  header, footer, main {
    max-width: 100%;
  }
}
