body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 10px 500px;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
}

table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #1f1f1f;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

table div {
   display: flex;
   align-items: center;
   gap: 5px;
}

div {
  text-align: left;
}

div img {
  width: 30px;
}

th {
  background-color: #333333;
  color: #ffffff;
}

td:first-child, td:nth-child(2) {
  background-color: #1d1d1d;
  vertical-align: middle;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #333;
  vertical-align: top;
}

ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
  color: #e0e0e0;
}

li {
  margin-bottom: 5px;
}

li strong {
  display: block;
  margin: 5px 10px;
}

img {
  width: 45px;
}

a {
  text-decoration: none;
  color: white;
}

.nested {
  margin-top: 5px;
  margin-left: 20px;
  color: #b0b0b0;
  list-style-type: disc;
}

.nested li:last-child {
  margin-bottom: 15px;
}

.good {
  color: #89AC46;
}

.bad {
  color: #E50046;
}

.right {
    float: right;
}
